.measurements {
  height: 82%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 8rem);
  padding-bottom: 200px;

}

.measurement-item {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem;
  background-color: white;
  box-shadow: 2px 2px 5px gray;
}

.measurement-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.measurement-item img {
  width: 4.5rem;
  filter:
    invert(68%) sepia(34%) saturate(764%) hue-rotate(169deg)
    brightness(94%) contrast(91%);
}

.progress-item{
  display: flex;
  justify-content: space-between;
  /* padding-left: 10px;
  padding-right: 10px; */
  padding: 1rem;
  margin: 0.5rem;
  background-color: white;
  box-shadow: 2px 2px 5px gray;
 
}

.progress-container{
  height: 82%;
  padding-top: 100px;
  padding-bottom: 20px;
}
.top-nav {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(53, 110, 156);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;

}

.top-nav a{
color: white;
text-decoration: none;
}

.bottom-nav {
    list-style-type: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(37, 37, 37);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
 
}

.bottom-nav a{
  color: white;
  text-decoration: none;
}
.add-measure {
  height: 52%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  background: white;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 150px;
}

.Add-heading {
  text-align: center;
  padding-top: 100px;

}
.banner-section{
  padding-top: 70px;
  text-align: center;

}